.textContainer {
  text-align: center;

  font-size: 24px;

  padding-bottom: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 33px;

  width: 1100px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 0px;
}

.button {
  background-color: black;

  color: white;

  font-size: 12px;

  padding: 20px 21px;
}
